@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    html{
        scroll-behavior: smooth;
    }

    .btn-blue-hover{
        @apply bg-gradient-to-r from-blue-0 to-blue-800 hover:bg-gradient-to-r hover:from-blue-0 hover:via-blue-600 hover:to-cyan-500
    }
    .underline-animation{
        @apply absolute inset-x-0 bottom-0 h-0.5 bg-white transition-all duration-300 w-0 overflow-hidden group-hover:w-full
    }
    .bg-container{
        @apply bg-panel-800 hover:bg-panel-700 transition-colors duration-300
    }
    .side-nav-li{
        @apply w-full px-4 py-2 hover:bg-panel-600 hover:bg-opacity-30 hover:text-blue-700 rounded-xl cursor-pointer
    }

    .bg-blur{
        @apply modal-backdrop bg-black bg-opacity-20 backdrop-blur-sm
    }

    .post-action-btn{
        @apply bg-blue-1700 text-sm font-semibold py-2 px-6 mr-auto md:mr-2 border-transparent rounded-xl text-grey-600
    }

    .before-content::before{
        @apply absolute block top-0 -left-9 content-[""] w-1 h-full bg-panel-800
    }

    .progress::-webkit-progress-value{
        @apply bg-blue-1200 rounded-full
    }
    progress::-webkit-progress-bar{
        @apply rounded-full bg-black
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
      }
}
